<?xml version='1.0' encoding='windows-1252'?>
<!--
  WiX installer source for Habit Flow.
  Per-user installation (no admin required).
-->

<?if $(sys.BUILDARCH) = x64 or $(sys.BUILDARCH) = arm64 ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
    <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product
        Id='*'
        Name='Habit Flow'
        UpgradeCode='EECB967B-348C-462F-B41F-2742176C7D4F'
        Manufacturer='sushil'
        Language='1033'
        Codepage='1252'
        Version='$(var.Version)'>

        <Package Id='*'
            Keywords='Installer'
            Description='A calm, offline-first desktop habit tracker'
            Manufacturer='sushil'
            InstallerVersion='450'
            Languages='1033'
            Compressed='yes'
            InstallScope='perUser'
            SummaryCodepage='1252'
            />

        <MajorUpgrade
            Schedule='afterInstallInitialize'
            DowngradeErrorMessage='A newer version of [ProductName] is already installed. Setup will now exit.'/>

        <Media Id='1' Cabinet='media1.cab' EmbedCab='yes' DiskPrompt='CD-ROM #1'/>
        <Property Id='DiskPrompt' Value='Habit Flow Installation'/>

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='LocalAppDataFolder' Name='LocalAppData'>
                <Directory Id='APPLICATIONFOLDER' Name='Habit Flow'>
                    <Directory Id='Bin' Name='bin'/>
                </Directory>
            </Directory>
            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='ApplicationProgramsFolder' Name='Habit Flow'/>
            </Directory>
            <Directory Id='DesktopFolder' Name='Desktop'/>
        </Directory>

        <!-- Main application component with registry-based KeyPath for per-user install -->
        <Component Id='binary0' Guid='38BD08EC-F1DE-4581-AEC7-DAB808EAE960' Directory='Bin'>
            <RegistryValue
                Root='HKCU'
                Key='Software\HabitFlow'
                Name='InstallPath'
                Type='string'
                Value='[APPLICATIONFOLDER]'
                KeyPath='yes'/>
            <File
                Id='exe0'
                Name='habit-flow.exe'
                DiskId='1'
                Source='$(var.CargoTargetBinDir)\habit-flow.exe'/>
            <RemoveFolder Id='RemoveBinFolder' Directory='Bin' On='uninstall'/>
            <RemoveFolder Id='RemoveAppFolder' Directory='APPLICATIONFOLDER' On='uninstall'/>
        </Component>

        <!-- Start Menu shortcut component -->
        <Component Id='StartMenuShortcutComponent' Guid='C570A95A-3A31-4F2A-A6DF-F3B082729D8D' Directory='ApplicationProgramsFolder'>
            <RegistryValue
                Root='HKCU'
                Key='Software\HabitFlow'
                Name='StartMenuShortcut'
                Type='integer'
                Value='1'
                KeyPath='yes'/>
            <Shortcut Id='StartMenuShortcut'
                Name='Habit Flow'
                Target='[Bin]habit-flow.exe'
                WorkingDirectory='Bin'
                Icon='ProductICO'
                IconIndex='0'/>
            <RemoveFolder Id='RemoveStartMenuFolder' Directory='ApplicationProgramsFolder' On='uninstall'/>
        </Component>

        <!-- Desktop shortcut component -->
        <Component Id='DesktopShortcutComponent' Guid='A6763A9A-1F5E-4B74-9C78-AE34C75EE8C3' Directory='DesktopFolder'>
            <RegistryValue
                Root='HKCU'
                Key='Software\HabitFlow'
                Name='DesktopShortcut'
                Type='integer'
                Value='1'
                KeyPath='yes'/>
            <Shortcut Id='DesktopShortcut'
                Name='Habit Flow'
                Target='[Bin]habit-flow.exe'
                WorkingDirectory='Bin'
                Icon='ProductICO'
                IconIndex='0'/>
        </Component>

        <Feature
            Id='Binaries'
            Title='Application'
            Description='Installs Habit Flow.'
            Level='1'
            ConfigurableDirectory='APPLICATIONFOLDER'
            AllowAdvertise='no'
            Display='expand'
            Absent='disallow'>

            <ComponentRef Id='binary0'/>
            <ComponentRef Id='StartMenuShortcutComponent'/>
            <ComponentRef Id='DesktopShortcutComponent'/>
        </Feature>

        <SetProperty Id='ARPINSTALLLOCATION' Value='[APPLICATIONFOLDER]' After='CostFinalize'/>

        <!-- Application icon in Add/Remove Programs -->
        <Icon Id='ProductICO' SourceFile='assets\habit_logo.ico'/>
        <Property Id='ARPPRODUCTICON' Value='ProductICO' />

        <UI>
            <UIRef Id='WixUI_FeatureTree'/>
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='CustomizeDlg' Order='99'>1</Publish>
            <Publish Dialog='CustomizeDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='99'>1</Publish>
        </UI>

    </Product>

</Wix>
